/*
. -> Class
# -> ID
*/
.banner{
    display: inline-block;
    
    align-items: center;
    background-image: url(../assets/img/technology-.jpg);
    height: 320px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}
#cashier{
    font-size: 12px;
    background-color: rgb(65 98 108 / 86%);
    width: 280px;
    height: 90px;
    margin: 60px 0px 10px 10px;
    
    justify-content: center;
    text-align: center;
    padding: 10px 5px 10px 5px;


}

#professional{
    padding: 2px 5px; 
    font-family: 'Press Start 2P', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.651) ;
}

#button-banner{
    background-color: #4608b9;
    display: inline-block; /*se não colocar o display inline block não altera a altura e largura*/
    padding: 18px 20px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.651) ;
    margin: 10px;
}
#button-banner:hover{
    transform: scale(1.08);
}

#name{
    font-family: 'Press Start 2P', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.651) ;
}