/*
. -> Class
# -> ID
*/
.banner{
    display: inline-block;
    
    align-items: center;
    background-image: url(../assets/img/technology-.jpg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;

   
    

}
#name{
   
    font-size: 32px;
    padding: 30px;
    background-color: blue;
    align-items: center;
    width: 256px;
    height: 35px;

}

#professional{
    width: 180px;
    background-color: blue;
}

#button-banner{
    background-color: #4608b9;
    display: inline-block; /*se não colocar o display inline block não altera a altura e largura*/
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black ;
    margin-right: 1 0px;
}
#button-banner:hover{
    transform: scale(1.08);
}