
#contatos{
    padding:20px;
    background-image: url(../assets/img/closeup.jpg);
    height: 385px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.subject{
    margin: 10px;
}

.information{
    display: block;
    margin: 10px;
    padding: 3px 10px 3px 16px;
    width: 1256px; height: 180px;
}