
header{
    display: flex;
    justify-content:space-between;
    background-color: #171055;  
    /*margin-right: 15px;
    box-shadow: 9px 14px 0px 0px rgb(0 0 0 / 20%); */
    border-bottom: 10px solid black;  
    padding: 10px 20px;
}

img{
    display: inline-flex;
    height: 60px;
}
nav{
    display: inline-flex;
    text-align: right;
      
}
a{
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px; 
}

a::before{
    content:" ";
    background-color: #5a0cb3;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    
}

a:hover{
    background-color: aquamarine;
    
}

#button{
    background-color: #4608b9;
    display: inline-block; /*se não colocar o display inline block não altera a altura e largura*/
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black ;
    margin-right: 0px;
    

}
#button:hover{
    transform: scale(1.08);
}


.pai{
    display: flex;
    width: 100%;
    border: 5px solid black;
    flex-direction: row;
    text-align: center;
    font-size: 30px;
    margin-top: 62px;
}
.filho1{
    background-color: orangered;
    color: white;
    width: 50%;

}
.filho2{
    background-color: yellow;
    align-items: center;
    width: 50%;
}

