@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Nunito+Sans:wght@400;700&family=Press+Start+2P&family=Raleway:wght@400;700;900&display=swap');

.geral{
  /*realizar todas as coisas geral de class
  titulos abaixo iguais:
  skills
  
  projetos
  sobre
  contatos
  */
  
}

*{
  margin: 0px;
  padding: 0px;
}

body{
  color: white;
  margin: 0px;
  background-color: rgba(5, 6, 14, 0.616);
}

.title{
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 15px 0px 25px 0px;
  align-items: center;
  text-align: center;
}